
/*centers the website and provides background color*/
body{
        background-color:#3d56b2;
        color: #cdf2ca;
        max-width:960px;
        margin: auto;

    }

/*headers*/
h1{
  font-style: italic;
  text-shadow: 4px 4px #000;
}
h1,h3{
   color:#e6e6e6;
}

/* Creates a small dotted grey line*/
hr{
      border-style: dotted none none none;
      border-width: 5px;
      border-color: grey;
      width: 7%;
  }

/*resize the profile image*/
img{
      width: 250px;
      box-shadow: 10px 10px 5px #000;
      border-radius: 50%;
  }



      
      

    
