/*October 2020 - @ShaisthaKallil*/

/*******************TAG SELECTORS****************************/
body{
  margin:0px;
}
div{
  background-color: #efd3d7;
}

/***************::::HEADINGS::::*****************************/
h1{
  margin:0px;
}
