/*October 2020 - @ShaisthaKallil*/

/*******************TAG SELECTORS****************************/
body{
  margin:0;
  background-color:lightblue;
}


/***************::::HEADINGS::::*****************************/
h1{
  margin:0;
  font-family: 'Aclonica', sans-serif;
}

p{
  margin:0;
  font-family: "Arial", Times, sans-serif;
}

/*********************CLASS SELECTORS***********************/

.container{

}

.pic_bal{
  width:25%;
  height:28%;
  position:relative;
  left: 10%;
}

.pic_cld_one{
  width:15%;
  height:17%;
  position:relative;
  right:12%;
  bottom:1.5%;
}

.pic_cld{
  width:12%;
  height:45%;
  position:relative;
  right:12%;
  bottom:100px;
  z-index:-1;
}

.pic_tree{
  width:20%;
  position:relative;
  top:200px;
  left:35%;
}

.pic_butter{
  width:15%;
  height:13%;
  position:absolute;
  right:30%;
  top:15%;
}

.name_container{
  position:absolute;
  right:4%;
  width:30%;
  border-radius:5%;
  background-color:#ff865e;
}

.profile{
  width:43%;
  height:84%;
  position:relative;
  left:55%;
  bottom:60px;
}
